@import "tailwindcss";

@font-face {
    font-family: 'LINE Seed';
    src: url('/portfolio/assets/fonts/LINESeedJP_OTF_Rg_subsetted.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LINE Seed';
    src: url('/portfolio/assets/fonts/LINESeedJP_OTF_Bd_subsetted.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LINE Seed';
    src: url('/portfolio/assets/fonts/LINESeedJP_OTF_Eb_subsetted.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "LINE Seed", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.03em;
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 14px;
    }
}