@import "tailwindcss";

@font-face {
    font-family: 'LINE Seed';
    src: url('assets/fonts/LINESeedJP_OTF_Rg.woff2') format('woff2'),
         url('assets/fonts/LINESeedJP_OTF_Rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LINE Seed';
    src: url('assets/fonts/LINESeedJP_OTF_Bd.woff2') format('woff2'),
         url('assets/fonts/LINESeedJP_OTF_Bd.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "LINE Seed", sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    letter-spacing: 0.02em;
}