@import "tailwindcss";

@font-face {
    font-family: 'LINE Seed';
    src: url('/portfolio/assets/fonts/LINESeedJP_OTF_Rg.woff') format('woff'),
         url('/portfolio/assets/fonts/LINESeedJP_OTF_Rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LINE Seed';
    src: url('/portfolio/assets/fonts/LINESeedJP_OTF_Bd.woff') format('woff'),
         url('/portfolio/assets/fonts/LINESeedJP_OTF_Bd.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LINE Seed';
    src: url('/portfolio/assets/fonts/LINESeedJP_OTF_Eb.woff') format('woff'),
         url('/portfolio/assets/fonts/LINESeedJP_OTF_Eb.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

body {
    font-family: "LINE Seed", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.03em;
}